* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sm-img {
    max-width: 48px;
}

td {
    vertical-align:middle
}

.lg-img {
    max-width: 120px ; 
}

.container {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}